# Starter code for the **Genre** table

**Before You Start:** You will need to update the starter code with your database and schema information.

In [ ]:
-- populating genre table
INSERT INTO May2024JunkDB.shanthi.genre(genre_id, genres)
VALUES (1, 'Fantasy');

INSERT INTO May2024JunkDB.shanthi.genre(genre_id, genres)
VALUES (2, 'Adventure');

INSERT INTO May2024JunkDB.shanthi.genre(genre_id, genres)
VALUES (3, 'Romance');

INSERT INTO May2024JunkDB.shanthi.genre(genre_id, genres)
VALUES (4, 'Contemporary');

INSERT INTO May2024JunkDB.shanthi.genre(genre_id, genres)
VALUES (5, 'Dystopian');

INSERT INTO May2024JunkDB.shanthi.genre(genre_id, genres)
VALUES (6, 'Mystery');

INSERT INTO May2024JunkDB.shanthi.genre(genre_id, genres)
VALUES (7, 'Horror');

INSERT INTO May2024JunkDB.shanthi.genre(genre_id, genres)
VALUES (8, 'Thriller');

INSERT INTO May2024JunkDB.shanthi.genre(genre_id, genres)
VALUES (9, 'Paranormal');

INSERT INTO May2024JunkDB.shanthi.genre(genre_id, genres)
VALUES (10, 'Historical Fiction');

INSERT INTO May2024JunkDB.shanthi.genre(genre_id, genres)
VALUES (11, 'Science Fiction');

INSERT INTO May2024JunkDB.shanthi.genre(genre_id, genres)
VALUES (12, 'Memoir');

INSERT INTO May2024JunkDB.shanthi.genre(genre_id, genres)
VALUES (13, 'Cooking');

INSERT INTO May2024JunkDB.shanthi.genre(genre_id, genres)
VALUES (14, 'Art');

INSERT INTO May2024JunkDB.shanthi.genre(genre_id, genres)
VALUES (15, 'Self-Help');

INSERT INTO May2024JunkDB.shanthi.genre(genre_id, genres)
VALUES (16, 'Development');

INSERT INTO May2024JunkDB.shanthi.genre(genre_id, genres)
VALUES (17, 'Motivational');

INSERT INTO May2024JunkDB.shanthi.genre(genre_id, genres)
VALUES (18, 'Health');

INSERT INTO May2024JunkDB.shanthi.genre(genre_id, genres)
VALUES (19, 'History');

INSERT INTO May2024JunkDB.shanthi.genre(genre_id, genres)
VALUES (20, 'Travel');

INSERT INTO May2024JunkDB.shanthi.genre(genre_id, genres)
VALUES (21, 'Guide');

INSERT INTO May2024JunkDB.shanthi.genre(genre_id, genres)
VALUES (22, 'Families and Relationships');

INSERT INTO May2024JunkDB.shanthi.genre(genre_id, genres)
VALUES (23, 'Humor');

INSERT INTO May2024JunkDB.shanthi.genre(genre_id, genres)
VALUES (24, 'Childrens');

INSERT INTO May2024JunkDB.shanthi.genre(genre_id, genres)
VALUES (25, 'Reference');

INSERT INTO May2024JunkDB.shanthi.genre(genre_id, genres)
VALUES (26, 'Poetry');