# Exercises: Creating, Updating, and Destroying Objects

For the exercises, you will be working with objects and data you create. Before opening this notebook, make sure that you have set up the new connection to the server and that you have located the database and your schema.

## Object Creation

Before coding, think of three things you want to make. These could be coding projects, new recipes, or planned projects for a woodworking hobby. Brainstorm the appropriate column names and data types as well.

Create a table under your schema called `planned_makes`.

In [11]:
CREATE TABLE May2024JunkDB.shanthi.planned_makes
( recipe_id int IDENTITY(1,1) primary key,
  recipe_name nvarchar(255),
  ingredients text,
  instructions text,
  difficulty varchar(50))

Add three rows to your table that are your planned makes.

In [12]:
INSERT INTO May2024JunkDB.shanthi.planned_makes(recipe_name,ingredients,instructions,difficulty)
values ('FRENCH TOAST','BREAD,EGG,MILK,BUTTER,SUGAR','WHISK EGG,SUGAR AND MILK,COAT EACH SLICE OF BREAD IN THE MIXTURE,COOK BREAD WITH BUTTER UNTIL GOLDENBROWN','EASY'),
('SCRAMBLED EGG','BUTTER,EGG','LOW HEAT SKILLET WITH 4 TBSP OF BUTTER,WHISK EGGS AND POUR INTO SKILLET AND COOK','EASY'),
('CHOCOLATE COOKIES','BROWN SUGAR,FLOUR,EGGS,CHOCOLATE CHIPS,BUTTER,BAKING SODA','BEAT BUTTER WITH BROWN SUGAR AND EGGS AND ADD THE MIXTURE WITH FLOUR,DROP SMALL AMOUNT OF DOUGH ONTO THE COOKIE SHEETS,BAKE','MEDIUM')

## Update a Row

Change different values in one of your three rows.

In [13]:
UPDATE May2024JunkDB.shanthi.planned_makes
SET ingredients = '2TBSP BUTTER,4 EGGS'
WHERE recipe_name = 'SCRAMBLED EGG'

## Delete a Row

Delete one of the rows from your table.

In [14]:
DELETE FROM May2024JunkDB.shanthi.planned_makes
WHERE recipe_name = 'FRENCH TOAST'

## Drop the Table

While this has been fun, it is time to drop the table!

In [10]:
DROP TABLE May2024JunkDB.shanthi.planned_makes