# Exploratory Data Analysis with pandas Studio

## Data Analysis of IMDB movies data

#### Blocks have been created for your code

#### Click on the following link and download the dataset from [Kaggle](https://www.kaggle.com/PromptCloudHQ/imdb-data).

### 1. Read data

In [21]:
# import pandas
import pandas as pd
# create your data variabe using .read_csv 
movie_data = pd.read_csv("IMDB-Movie-Data.csv")
# create your data_indexed variable here
movie_data_index = movie_data.index

In [22]:
# If you are having trouble reading your file, try finding the path.  
    # Right click on your data set, on the pop-up menu select "Copy Path" then paste it into your read_csv() function.

In [23]:
# Read data with specified explicit index
data_indexed = movie_data.loc[3]
print(data_indexed)

Rank                                                                  4
Title                                                              Sing
Genre                                           Animation,Comedy,Family
Description           In a city of humanoid animals, a hustling thea...
Director                                           Christophe Lourdelet
Actors                Matthew McConaughey,Reese Witherspoon, Seth Ma...
Year                                                               2016
Runtime (Minutes)                                                   108
Rating                                                              7.2
Votes                                                             60545
Revenue (Millions)                                               270.32
Metascore                                                          59.0
Name: 3, dtype: object

### 2. View Data
#### As we go through this section, write your own definitions of what each function does as a comment in the code box.

In [31]:
# Use the head() function to view the first 5 rows of the data set

print(movie_data.head(5))

   Rank                    Title                     Genre  \
0     1  Guardians of the Galaxy   Action,Adventure,Sci-Fi
1     2               Prometheus  Adventure,Mystery,Sci-Fi
2     3                    Split           Horror,Thriller
3     4                     Sing   Animation,Comedy,Family
4     5            Suicide Squad  Action,Adventure,Fantasy

                                         Description              Director  \
0  A group of intergalactic criminals are forced ...            James Gunn
1  Following clues to the origin of mankind, a te...          Ridley Scott
2  Three girls are kidnapped by a man with a diag...    M. Night Shyamalan
3  In a city of humanoid animals, a hustling thea...  Christophe Lourdelet
4  A secret government agency recruits some of th...            David Ayer

                                              Actors  Year  Runtime (Minutes)  \
0  Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...  2014                121
1  Noomi Rapace, Logan Marshall-Green, Michael Fa...  2012                124
2  James McAvoy, Anya Taylor-Joy, Haley Lu Richar...  2016                117
3  Matthew McConaughey,Reese Witherspoon, Seth Ma...  2016                108
4  Will Smith, Jared Leto, Margot Robbie, Viola D...  2016                123

   Rating   Votes  Revenue (Millions)  Metascore
0     8.1  757074              333.13       76.0
1     7.0  485820              126.46       65.0
2     7.3  157606              138.12       62.0
3     7.2   60545              270.32       59.0
4     6.2  393727              325.02       40.0

In [32]:
# Use the tail() function to view the last 5 rows of the data set
print(movie_data.tail(5))

     Rank                   Title                  Genre  \
995   996    Secret in Their Eyes    Crime,Drama,Mystery
996   997         Hostel: Part II                 Horror
997   998  Step Up 2: The Streets    Drama,Music,Romance
998   999            Search Party       Adventure,Comedy
999  1000              Nine Lives  Comedy,Family,Fantasy

                                           Description          Director  \
995  A tight-knit team of rising investigators, alo...         Billy Ray
996  Three American college students studying abroa...          Eli Roth
997  Romantic sparks occur between two dance studen...        Jon M. Chu
998  A pair of friends embark on a mission to reuni...    Scot Armstrong
999  A stuffy businessman finds himself trapped ins...  Barry Sonnenfeld

                                                Actors  Year  \
995  Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...  2015
996  Lauren German, Heather Matarazzo, Bijou Philli...  2007
997  Robert Hoffman, Briana Evigan, Cassie Ventura,...  2008
998  Adam Pally, T.J. Miller, Thomas Middleditch,Sh...  2014
999  Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...  2016

     Runtime (Minutes)  Rating  Votes  Revenue (Millions)  Metascore
995                111     6.2  27585                 NaN       45.0
996                 94     5.5  73152               17.54       46.0
997                 98     6.2  70699               58.01       50.0
998                 93     5.6   4881                 NaN       22.0
999                 87     5.3  12435               19.64       11.0

### 3. Understand basic information about the data
#### As we go through this section, write your own definitions of what each function does as a comment in the code box.

In [33]:
# The info() function: 
print(movie_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                1000 non-null   int64
 1   Title               1000 non-null   object
 2   Genre               1000 non-null   object
 3   Description         1000 non-null   object
 4   Director            1000 non-null   object
 5   Actors              1000 non-null   object
 6   Year                1000 non-null   int64
 7   Runtime (Minutes)   1000 non-null   int64
 8   Rating              1000 non-null   float64
 9   Votes               1000 non-null   int64
 10  Revenue (Millions)  872 non-null    float64
 11  Metascore           936 non-null    float64
dtypes: float64(3), int64(4), object(5)
memory usage: 93.9+ KB
None

In [34]:
# shape:
print(movie_data.shape)

# what information does shape provide?  what is the order?
#Returns the number of rows and columns in the dataframe.(rows,columns)

SyntaxError: invalid syntax (2099958639.py, line 5)

In [35]:
# columns:
print(movie_data.columns)

# what information does columns provide?
#List of columns in the data frame

SyntaxError: invalid syntax (3606400601.py, line 5)

In [29]:
# The describe() function: 
print(movie_data.describe())

              Rank         Year  Runtime (Minutes)       Rating         Votes  \
count  1000.000000  1000.000000        1000.000000  1000.000000  1.000000e+03
mean    500.500000  2012.783000         113.172000     6.723200  1.698083e+05
std     288.819436     3.205962          18.810908     0.945429  1.887626e+05
min       1.000000  2006.000000          66.000000     1.900000  6.100000e+01
25%     250.750000  2010.000000         100.000000     6.200000  3.630900e+04
50%     500.500000  2014.000000         111.000000     6.800000  1.107990e+05
75%     750.250000  2016.000000         123.000000     7.400000  2.399098e+05
max    1000.000000  2016.000000         191.000000     9.000000  1.791916e+06

       Revenue (Millions)   Metascore
count          872.000000  936.000000
mean            82.956376   58.985043
std            103.253540   17.194757
min              0.000000   11.000000
25%             13.270000   47.000000
50%             47.985000   59.500000
75%            113.715000   72.000000
max            936.630000  100.000000

### 4. Data Selection -- Indexing and Slicing

In [30]:
#  Extract data as series
genre = movie_data['Genre']
# define and print the variable 'genre'
print(genre)

0       Action,Adventure,Sci-Fi
1      Adventure,Mystery,Sci-Fi
2               Horror,Thriller
3       Animation,Comedy,Family
4      Action,Adventure,Fantasy
                 ...
995         Crime,Drama,Mystery
996                      Horror
997         Drama,Music,Romance
998            Adventure,Comedy
999       Comedy,Family,Fantasy
Name: Genre, Length: 1000, dtype: object

In [36]:
# Extract the data as a dataframe and print it
movie_data_subset = movie_data.iloc[0:3,3:6]
print(movie_data_subset)

                                         Description            Director  \
0  A group of intergalactic criminals are forced ...          James Gunn
1  Following clues to the origin of mankind, a te...        Ridley Scott
2  Three girls are kidnapped by a man with a diag...  M. Night Shyamalan

                                              Actors
0  Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...
1  Noomi Rapace, Logan Marshall-Green, Michael Fa...
2  James McAvoy, Anya Taylor-Joy, Haley Lu Richar...

In [39]:
# Extract data using rows

# loc function
print(movie_data.loc[0])

Rank                                                                  1
Title                                           Guardians of the Galaxy
Genre                                           Action,Adventure,Sci-Fi
Description           A group of intergalactic criminals are forced ...
Director                                                     James Gunn
Actors                Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...
Year                                                               2014
Runtime (Minutes)                                                   121
Rating                                                              8.1
Votes                                                            757074
Revenue (Millions)                                               333.13
Metascore                                                          76.0
Name: 0, dtype: object

In [38]:
# iloc function
print(movie_data.iloc[3])

Rank                                                                  4
Title                                                              Sing
Genre                                           Animation,Comedy,Family
Description           In a city of humanoid animals, a hustling thea...
Director                                           Christophe Lourdelet
Actors                Matthew McConaughey,Reese Witherspoon, Seth Ma...
Year                                                               2016
Runtime (Minutes)                                                   108
Rating                                                              7.2
Votes                                                             60545
Revenue (Millions)                                               270.32
Metascore                                                          59.0
Name: 3, dtype: object

### 5. Data Selection - Based on Conditional Filtering

In [50]:
# Use the code block to select movies that have been released between 2010-2016, with a rating of less than 6.0, but generated a signifianct (top) revenue.
print(movie_data.loc[(movie_data['Year'] >=  2010) & (movie_data['Year'] <=  2016) & (movie_data['Rating'] < 6.0)].sort_values(by='Revenue (Millions)',ascending=False).head(5))

     Rank                                      Title                    Genre  \
941   942                 The Twilight Saga: Eclipse  Adventure,Drama,Fantasy
366   367  The Twilight Saga: Breaking Dawn - Part 2  Adventure,Drama,Fantasy
925   926  The Twilight Saga: Breaking Dawn - Part 1  Adventure,Drama,Fantasy
126   127            Transformers: Age of Extinction  Action,Adventure,Sci-Fi
657   658               Teenage Mutant Ninja Turtles  Action,Adventure,Comedy

                                           Description            Director  \
941  As a string of mysterious killings grips Seatt...         David Slade
366  After the birth of Renesmee, the Cullens gathe...         Bill Condon
925  The Quileutes close in on expecting parents Ed...         Bill Condon
126  Autobots must escape sight from a bounty hunte...         Michael Bay
657  When a kingpin threatens New York City, a grou...  Jonathan Liebesman

                                                Actors  Year  \
941  Kristen Stewart, Robert Pattinson, Taylor Laut...  2010
366  Kristen Stewart, Robert Pattinson, Taylor Laut...  2012
925  Kristen Stewart, Robert Pattinson, Taylor Laut...  2011
126  Mark Wahlberg, Nicola Peltz, Jack Reynor, Stan...  2014
657  Megan Fox, Will Arnett, William Fichtner, Noel...  2014

     Runtime (Minutes)  Rating   Votes  Revenue (Millions)  Metascore
941                124     4.9  192740              300.52       58.0
366                115     5.5  194329              292.30       52.0
925                117     4.9  190244              281.28       45.0
126                165     5.7  255483              245.43       32.0
657                101     5.9  178527              190.87       31.0

In [61]:
# Note: The article is expecting more than 1 Twilight movie at the time of publishing.  
#To find the second Twilight movie, try manipulating the quantile value.  
#How specific can you get?
twilight_df=movie_data[(movie_data['Title'].str.contains('Twilight'))]
twilight_df=twilight_df[(twilight_df['Year']==round(twilight_df['Year'].quantile(.5),0))]
twilight_df

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
941,942,The Twilight Saga: Eclipse,"Adventure,Drama,Fantasy",As a string of mysterious killings grips Seatt...,David Slade,"Kristen Stewart, Robert Pattinson, Taylor Laut...",2010,124,4.9,192740,300.52,58.0