# Cleaning Data with Pandas Exercises

For the exercises, you will be cleaning data in the Women's Clothing E-Commerce Reviews dataset.

To start cleaning data, we first need to create a dataframe from the CSV and print out any relevant info to make sure our dataframe is ready to go.

In [1]:
# Import pandas and any other libraries you need here.
import pandas as pd
# Create a new dataframe from your CSV
clothing_df = pd.read_csv("Womens Clothing E-Commerce Reviews.csv")

In [2]:
# Print out any information you need to understand your dataframe
print(clothing_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23486 entries, 0 to 23485
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               23486 non-null  int64
 1   Clothing ID              23486 non-null  int64
 2   Age                      23486 non-null  int64
 3   Title                    19676 non-null  object
 4   Review Text              22641 non-null  object
 5   Rating                   23486 non-null  int64
 6   Recommended IND          23486 non-null  int64
 7   Positive Feedback Count  23486 non-null  int64
 8   Division Name            23472 non-null  object
 9   Department Name          23472 non-null  object
 10  Class Name               23472 non-null  object
dtypes: int64(6), object(5)
memory usage: 2.0+ MB
None

## Missing Data

Try out different methods to locate and resolve missing data.

In [4]:
# Try to find some missing data!
clothing_df.isna().sum()

Unnamed: 0                    0
Clothing ID                   0
Age                           0
Title                      3810
Review Text                 845
Rating                        0
Recommended IND               0
Positive Feedback Count       0
Division Name                14
Department Name              14
Class Name                   14
dtype: int64

Did you find any missing data? What things worked well for you and what did not?

In [ ]:
# Respond to the above questions here:Title and review text columns has lot of missing values.isna().sum() function worked for me to count the 
# total number of the missing values in the Dataframe.isna() didnt work for me since it only returns True or False depending on whether the value in the series was missing or not.

## Irregular Data

With missing data out of the way, turn your attention to any outliers. Just as we did for missing data, we first need to detect the outliers.

In [6]:
# Keep an eye out for outliers!
clothing_df.describe()

,Unnamed: 0,Clothing ID,Age,Rating,Recommended IND,Positive Feedback Count
count,23486.000000,23486.000000,23486.000000,23486.000000,23486.000000,23486.000000
mean,11742.500000,918.118709,43.198544,4.196032,0.822362,2.535936
std,6779.968547,203.298980,12.279544,1.110031,0.382216,5.702202
min,0.000000,0.000000,18.000000,1.000000,0.000000,0.000000
25%,5871.250000,861.000000,34.000000,4.000000,1.000000,0.000000
50%,11742.500000,936.000000,41.000000,5.000000,1.000000,1.000000
75%,17613.750000,1078.000000,52.000000,5.000000,1.000000,3.000000
max,23485.000000,1205.000000,99.000000,5.000000,1.000000,122.000000

What techniques helped you find outliers? In your opinion, what about the techniques you used made them effective?

In [ ]:
# Make your notes here:I used the describe() function to notice the outlier in the Dataframe by looking closely at the mean and min/max values.

## Unnecessary Data

Unnecessary data could be irrelevant to your analysis or a duplice column. Check out the dataset to see if there is any unnecessary data.

In [16]:
# Look out for unnecessary data!--Verified the dataset and identified the unnecessary columns.
clothing_df.drop(columns=['Title','Review Text'])

,Unnamed: 0,Clothing ID,Age,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,0,767,33,4,1,0,Initmates,Intimate,Intimates
1,1,1080,34,5,1,4,General,Dresses,Dresses
2,2,1077,60,3,0,0,General,Dresses,Dresses
3,3,1049,50,5,1,0,General Petite,Bottoms,Pants
4,4,847,47,5,1,6,General,Tops,Blouses
...,...,...,...,...,...,...,...,...,...
23481,23481,1104,34,5,1,0,General Petite,Dresses,Dresses
23482,23482,862,48,3,1,0,General Petite,Tops,Knits
23483,23483,1104,31,3,0,1,General Petite,Dresses,Dresses
23484,23484,1084,28,3,1,2,General,Dresses,Dresses
23485,23485,1104,52,5,1,22,General Petite,Dresses,Dresses

Did you find any unnecessary data in your dataset? How did you handle it?

In [ ]:
# Make your notes here.
# Yes there are unnecessary data.Found Title and Review text columns are unnecessary while analysing the data.I will use drop() function to drop those columns from the dataset.

## Inconsistent Data

Inconsistent data is likely due to inconsistent formatting and can be addressed by re-formatting all values in a column or row.

In [15]:
# Look out for inconsistent data!
clothing_df['Rating'].unique()
clothing_df['Recommended IND'].unique()
clothing_df['Age'].unique()
clothing_df['Positive Feedback Count'].unique()

array([  0,   4,   6,   1,  14,   2,   3,   7,   5,   9,  34,  10,  17,
        11,  24,  12,   8,  13,  20,  16,  23,  15,  19,  29,  32,  30,
        55,  84,  27,  43,  21,  42,  37,  71,  35,  65, 117,  33,  18,
        25,  47,  22,  51,  94,  31,  77,  61,  46,  26,  28,  36,  57,
        45,  66,  82,  44,  81,  58,  78,  38,  49,  52, 122,  41, 108,
        54,  40,  53,  87,  64,  89,  68,  56,  98,  95,  39,  93,  48,
        99,  50,  69,  59])

Did you find any inconsistent data? What did you do to clean it?

In [ ]:
# Make your notes here!  I dont see any inconsistant data in the dataset.Hence no cleanup is needed.